===================
{{ title }}
===================

{% set headers = (
    '',
    '========================================',
    '----------------------------------------',
    '~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~',
    '^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^'
    )
%}

{% if header %}
{{ header }}
{% endif %}

{% for node in nodes -%}

{% if not node.is_leaf %}
{{ node.title }}
{{ headers[node.depth] }}
{% if node.header %}
{{ node.header }}
{% endif %}

{% block section scoped %}
{% endblock %}

{% endif %}
{%- endfor %}
